@import "tailwindcss";

:root {
  --background: #5E2E53;
  --foreground: #171717;
  --secondary-background: #E1A1E9;
  --default-text-color: #EAEAEA;
  --button-text-color:  #E9E9E9;
  --headline-color: #431567;
  --second-headline-color: #E856EB;
  --search-color: #C4C4C4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--default-text-color);
  --color-button-text: var(--button-text-color);
  --color-secondary-background: var(--secondary-background);
  --color-search-color: var(--search-color);
  --radius-special: 39px 39px 0px 39px;
  --radius-overlay-radius: 0px 39px 0px 39px;
}

/* racing-sans-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/racing-sans-one-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v48-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ubuntu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ubuntu-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

@layer components {

.textstroke{
  text-shadow: 0px 0px 1px var(--headline-color);
  color: transparent;
  font-size: 36px;
  font-family: Roboto;
  
}
.sitemargin{
  margin: 28px 28px 0px 28px;
}

.second_span_text{
   color: var(--second-headline-color);
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: black;
     font-size: 72px;
}
.button-animation{
  animation: animate 1.5s;
}
}


@keyframes animate {

from {
 opacity: 0;
}

to {
  opacity: 1;
}
}